mixin b-affw-logos

  +b.m-affw-logos
    +e.H2.heading.text-center MEMBERS OF AUSTRALIA’S FIRST FAMILIES OF WINE

    +e.logos-wrapper
      +e.item
        img(src="img/mcw-logo-affw.jpg")
      +e.item
        img(src="img/brown-brothers-affw.jpg")
      +e.item
        img(src="img/campbells-affw.jpg")
      +e.item
        img(src="img/darenberg-affw.jpg")
      +e.item
        img(src="img/debortoli-affw.jpg")
      +e.item
        img(src="img/henschke-affw.jpg")
      +e.item
        img(src="img/howard-park-affw.jpg")
      +e.item
        img(src="img/jim-barry-affw.jpg")
      +e.item
        img(src="img/tahbilk-affw.jpg")
      +e.item
        img(src="img/taylors-affw.jpg")
      +e.item
        img(src="img/tyrrells-affw.jpg")
      +e.item
        img(src="img/yalumba-affw.jpg")