mixin b-affw-card

  +b.m-affw-card
    +e.image-wrapper
      +e.IMG(src="img/affw.jpg").image

    +e.descr
      p.lg Australia’s First Families of Wine is an exciting initiative created by 12 family owned Australian wineries. Together the AFFW represent 16 Australian regions across four states and with more than 1200 years of winemaking experience.
      p.lg With history, heritage and provenance, the families of the AFFW are rich with unique characters, stories and icon wines that are part of Australia’s vinous past – and future.

    a(href="#").m-btn VISIT THE AFFW WEBSITE