mixin b-blog-nav-category

  +b.m-blog-nav-category
    +e.list
      +e.A(href="#").item
        i.i-icon-all-dark
        span ALL

      +e.A(href="#").item
        i.i-icon-newswhite
        span NEWS

      +e.A(href="#").item
        i.i-icon-pencil-dark
        span ARTICLES

      +e.A(href="#").item
        i.i-icon-calendarwhite
        span EVENTS

      +e.A(href="#").item
        i.i-icon-winewhite
        span WINE TIPS