mixin b-contact-us

  +b.m-contact-us
    +e.contact
      +e.H2.heading CONTACT US
      span Jack McWilliam Road
      span Hanwood, NSW 2680
      span Hanwood Office: (02) 6963 3400
      span Head Office: (02) 9722
    +e.hours
      +e.H2.heading OPENING HOURS

      +e.hours-item
        span Open Wednesday – Saturday
        span 10am – 4pm

      +e.hours-item
        span Winery tours operate every
        span Thursday at 11:45am
        span during May – December.

      +e.hours-item
        span CLOSED:
        span Good Friday
        span Christmas Day



