mixin b-section-map-card

    +b.m-map-card
      +e.descr-wrapper
        h2 McWILLIAM’S HANWOOD ESTATE <br /> CELLAR DOOR
        p
          | Jack McWilliams Road, Hanwood,<br />
          | New South Wales, 2680 <br />
          | Hanwood Office: (02) 6963 3400

      iframe(frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Jack%20McWilliams%20Road%2C%20Hanwood%2C%20New%20South%20Wales%2C%202680%20Hanwood%20Office%3A%20(02)%206963%203400&key=AIzaSyBsC2UH04g0-kaBG3XgkuRDPdz3ABAIYZE" allowfullscreen)


    +b.m-map-card
      +e.descr-wrapper
        h2 McWILLIAM’S HEAD OFFICE
        p
          | 55 Murray St, Pyrmont <br /> 
          | New South Wales, 2009 <br />
          | Head Office: (02) 0000 0000

      iframe(frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=55%20Murray%20St%2C%20Pyrmont%20New%20South%20Wales%2C%202009&key=AIzaSyBsC2UH04g0-kaBG3XgkuRDPdz3ABAIYZE" allowfullscreen)