mixin b-product-description

  //BEGIN product description

  +b.m-product-description

    +e.top-descr
      +e.H1.heading McWILLIAM’S 1877 SHIRAZ
      +e.P.main-descr.lg This prestigious wine takes its name, "1877", from the year 1st generation winemaker, Samuel McWilliam, planted the winery's first vines in Corowa NSW and McWilliam's Wines was born. Crafted from vigorously selected, high quality fruit from mature, low yielding vines, the 2014 vintage of McWilliam's "1877" is a Shiraz from some of the best vines in the Hilltops region of NSW.

      button.m-btn BUY NOW

    +e.slider
      +b-product-img-slider

    +e.bottom-descr
      +e.UL.info-list
        li VARIETAL : Shiraz
        li COLOUR : Vibrant red purple.
        li ALC/VOL: 12.5%

      +e.years
        p YEARS:
        ul
          li.active 2014
          li 2016

      +e.P.secondary-descr.lg An excellent vintage with warm days and cool nights. Spring frosts wiped out blocks on lower sites with poor cold air drainage. This resulted in a lower regional crush but quality was high due to it only being from the most suitable sites. A hot and dry growing season resulted in balanced canopies with low yields and concentrated fruit. Some rainfall occurred during February & March which was a positive as it refreshed the vines and gave them sufficient water to get through to harvest with minimal stress. There was no disease pressure due to the great canopies and low yields.

    //END product description