mixin b-product-card

  +b.m-product-card
    +e.FIGURE.image-wrapper
      +e.IMG(src="img/product-img.png").img

    +e.description-wrapper
      +e.H2.name PRODUCT NAME
      +e.P.varietal VARIETAL


      a.m-link-btn LEARN MORE
