mixin b-product-img-slider

  //BEGIN product slider

  +b.m-product-img-slider
    +e.thumbs-wrapper
      +e.thumbs
        img(src="img/product-thumb.png")
        //img(src="img/product-thumb.png")
        //img(src="img/product-thumb.png")
    +e.slider
      +b-product-slider

  //END product slider