mixin b-review-card(score)

  // BEGIN review card
  +b.m-review-card
    +e.heading-wrapper
      +b-score-badge(score)
      +e.info-wrapper
        +e.name JAMES HALLIDAY
        +e.company Wine Companion 2017

    +e.description
      p.lg The icon wine of the large vineyard in the Hilltops. Elegant and medium-bodied, it's freshness and vibrant red and black fruits are couched in quality oak and finely detailed tannins. Its balance means it can be enjoyed young, matured or aged.

  // END review card