mixin b-riverina-descr

  //BEGIN reverina descr

  +b.m-riverina-descr

    +e.descr

      p.lg The Riverina is an idyllic snapshot of rural Australian life, renowned for its natural beauty, superb fresh produce and rich history. The region is a stunning patchwork of landscapes, ranging from the larger cities of Wagga Wagga and Griffith to miles of stretching farmland and vineyards. Speckled throughout are the pockets of smaller towns, full of character and embodying the soul of Australian country life.

    +e.list
      ul
        li ACCOMMODATION IN THE RIVERINA

        li
          a(href="#")
            span Griffith Centrepoint
            +e.icon
              span.i-icon-button-arrowright
                span.path1
                span.path2

        li
          a(href="#")
            span The Kidman Wayside Inn
            +e.icon
              span.i-icon-button-arrowright
                span.path1
                span.path2

        li
          a(href="#")
            span Mercure Wagga Wagga
            +e.icon
              span.i-icon-button-arrowright
                span.path1
                span.path2

        li
          a(href="#")
            span Hotel Victoria
            +e.icon
              span.i-icon-button-arrowright
                span.path1
                span.path2

        li
          a(href="#")
            span Yambil Inn Motel
            +e.icon
              span.i-icon-button-arrowright
                span.path1
                span.path2

  //END riverina descr