mixin b-riverina-facts

  +b.m-riverina-facts
    +e.H2.heading FACTS ABOUT THE RIVERINA

    +e.P.descr The Riverina wine region enjoys a typically hot Australian rural climate. Site and vine management are key to successful winemaking in the region.

    +e.list
      +e.item <strong> Latitude:</strong> 34°South
      +e.item <strong> Altitude:</strong> 140m
      +e.item <strong>strong Growing Season Rainfall:</strong> 200mm
      +e.item <strong> Mean January Temperature:</strong> 23.8°Celsius
      +e.item <strong> Harvest:</strong> Early February- Early March
      +e.item <strong> Principal Grape Varieties:</strong> Shiraz, Semillon, Chardonnay
