mixin b-search-form

  // BEGIN search form

  +b.FORM(action="").m-search-from
    +e.input-wrapper
      +e.INPUT(type="text" id="search" placeholder="SEARCH").input
      i.i-icon-search


  // END search form