mixin b-section-product-page-location

  // BEGIN product info

  +b.SECTION.l-product-secondary-info(class="m-product-secondary-info")
    +e.location
      div
        h2 REGION
        p.lg.text-up TUMBARUMBA

      span.i-icon-tumbarumba-white
        span.path1
        span.path2
        span.path3
        span.path4

    +e.aroma
      h2 AROMA
      p.lg Bright fruits of dark cherry, pepper and charcuturie coupled with lifted florals and fresh toasty oak.
    +e.palette
      h2 PALETTE
      p Bright fruits of dark cherry, pepper and charcuturie coupled with lifted florals and fresh toasty oak.

    // END product info