mixin b-section-blog-featured

  +b.l-featured-articles.m-featured-articles
    h2.m-featured-articles__heading DISCOVER MORE OF OUR FEATURED ARTICLES

    +b-featured-article("", "img/vintage.png", "ARTICLE TITLE", "Author Name", "i-icon-news")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Ut enim ad minim veniam, quis nostrud exercitation"

    +b-featured-article("", "img/vintage.png", "ARTICLE TITLE", "Author Name", "i-icon-news")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Ut enim ad minim veniam, quis nostrud exercitation"

    +b-featured-article("", "img/vintage.png", "ARTICLE TITLE", "Author Name", "i-icon-news")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Ut enim ad minim veniam, quis nostrud exercitation"
