mixin b-section-product-page-posts

  //BEGIN section product page posts

  +b.l-product-blog-posts
    +e.item
      +b-product-post-card("img/winemakers.png", "MEET THE WINEMAKERS")
    +e.item
      +b-product-post-card("img/region-half.png", "EXPLORE THE TUMBARUMBA REGION")
  //END section product page posts