mixin b-homepage-blog-posts

  //BEGIN posts wrapper
  +b.SECTION.l-posts-wrapper

    +b.l-home-posts
      +b-blog-article('img/wearemcw1.jpg', 1)
        .m-heading.m-heading--linear
          h2 WE ARE McWILLIAM’S

        p.lg Building on six generations of Australian experience to craft quality wine for the world to enjoy.
        a(href="#").m-btn LEARN MORE


      +b-blog-article('img/social.jpg', 1)
        .m-heading.m-heading--linear
          h2 WHAT DO YOU LIKE TO DRINK?

        p.lg The McWilliam’s portfolio of award winning wines captures the philosophy of excellence in winemaking.
        a(href="#").m-btn LEARN MORE


      +b-blog-article('img/meettheteam.jpg', 1)
        .m-heading.m-heading--linear
          h2 MEET THE TEAM

        p.lg McWilliam’s Wines have always believed that quality wines are made by people, not companies.
        a(href="#").m-btn LEARN MORE

      +b-blog-article('img/vineyards-1.jpg', 1)
        .m-heading.m-heading--linear
          h2 MEET THE TEAM

        p.lg McWilliam’s Wines have always believed that quality wines are made by people, not companies.
        a(href="#").m-btn LEARN MORE

  //END posts wrapper

