mixin b-section-harritage-history

  +b.l-harritage
    +e.line
    .m-harritage.m-harritage__heading 1830
    +e.leaf-wrapper
      +e.leaf
        +b-grape-leaf

    +b-history-card("--1-3", "img/1830.jpg", "1830", "Samuel McWilliam is born in Raloo, Northern Ireland.")
    +b-history-card("--2-3 --1857", "img/1857.jpg", "1857", "Samuel McWilliam arrives in Melbourne aboard the “Morning Light”.")

    +b-history-card("--1-3", "img/1868.jpg", "1868", "John James (J.J.) McWilliam is born")
    +b-history-card("--1-3", "img/1877.jpg", "1877", "Samuel McWilliam plants his first vines on the outskirts of Corowa, NSW")
    +b-history-card("--1-3", "img/1902.jpg", "1902", "Samuel McWilliam passes away and his daughters purchase Sunnyside Vineyard.")

    +b-history-card("--2-3", "img/1913.jpg", "1913", "J.J. McWilliam carts 50,000 vines to the Riverina, pioneering the wine industry in the region. He plants them in a nursery and waters the vines from water sourced elsewhere until irrigation arrives the following year.")
    +b-history-card("--1-3", "img/1917.jpg", "1917", "J.J. McWilliam opens the Hanwood Estate winery")

    +b-history-card("--1-3", "img/1935.jpg", "1935", "The first McWilliam’s wines are exported internationally")
    +b-history-card("--1-3", "img/1941.jpg", "1941", "The McWilliam family acquire Mount Pleasant estate in the Hunter Valley. THE Legendary Maurice O’Shea, who was retained as Chief Winemaker, went on to make some of Australia’s greatest wines.")
    +b-history-card("--1-3", "img/1960.jpg", "1960", "McWilliam's release their first varietal table wines to accommodate Australian's growing appreciation of premium table wines. Previously, the nation was very much driven by spirits and fortified wines.")


    +b-history-card("--1-3", "img/1973.jpg", "1973", "The first McWilliam’s wines are exported internationally")
    +b-history-card("--2-3", "img/1977.jpg", "1977", "McWilliam’s Family Winemakers celebrate their centenary. This marks the 100 year anniversary of when Samuel McWilliam planted his first vines on the outskirts of Corowa, NSW.")

    +b-history-card("--1-3", "img/1986.jpg", "1986", "Jim Brayne is appointed McWilliam’s Chief Winemaker. Today, Jim remains as McWilliam's Chief Operating Officer.")
    +b-history-card("--1-3", "img/2004.jpg", "2004", "The demand for McWilliam’s wines in Australia and across the globe continues to grow, with 500,000 cases of McWilliam’s Hanwood Estate wines sold")
    +b-history-card("--1-3", "img/2010.jpg", "2010", "Wine & Spirits survey names McWilliam's Hanwood Estate as the number one Australian wine brand in restaurants across the United States of America")

    +b-history-card("--1-3", "img/2012.jpg", "2012", "McWilliam's is awarded Most Successful Exhibitor at the Sydney Royal Wine Show for an unprecedented 18th consecutive year.")
    +b-history-card("--1-3", "img/2016.jpg", "2016", "Jeff McWilliam, fourth generation, is appoint Chief Executive Officer.")
    +b-history-card("--1-3", "img/2016-1.jpg", "2016", "McWilliam’s 1877 Hilltops Shiraz awarded Best Australian Shiraz at the International Wine Challenge")

    +b-history-card("--3-3", "img/2017.jpg", "2017", "McWilliam’s Wines celebrates 140 years since Founder Samuel McWilliam’s planted his first vines on the outskirts of Corowa, NSW ")