mixin b-section-product-page-gallery

  +b.l-product-page-gallery
    +e.heading
      .m-heading.m-heading--linear.m-heading--linear-100
          h2 DISCOVER MORE OF OUR FLAGSHIP RANGE

    +e.gallery
      +b-product-gallery(4)
    +e.btn-wrapper
      button.m-btn EXPLORE THE RANGE
