$icomoon-font-path: "../fonts/icons/" !default;

$i-icon_calendar-path1: "\e900";
$i-icon_calendar-path2: "\e901";
$i-icon_calendar-path3: "\e902";
$i-icon_calendar-path4: "\e903";
$i-icon_calendar-path5: "\e904";
$i-icon_calendar-path6: "\e905";
$i-icon_calendar-path7: "\e906";
$i-icon_calendar-path8: "\e907";
$i-icon_calendar-path9: "\e908";
$i-icon-all-dark: "\e909";
$i-icon-all: "\e90a";
$i-icon-allwhite: "\e90b";
$i-icon-arrowdown: "\e90c";
$i-icon-arrowleft: "\e90d";
$i-icon-arrowright: "\e90e";
$i-icon-arrowup: "\e90f";
$i-icon-button-arrowright-1-path1: "\e910";
$i-icon-button-arrowright-1-path2: "\e911";
$i-icon-button-arrowright-path1: "\e912";
$i-icon-button-arrowright-path2: "\e913";
$i-icon-calendar: "\e914";
$i-icon-calendarwhite: "\e915";
$i-icon-canberra-white-path1: "\e916";
$i-icon-canberra-white-path2: "\e917";
$i-icon-canberra-white-path3: "\e918";
$i-icon-canberra-white-path4: "\e919";
$i-icon-canberra-path1: "\e91a";
$i-icon-canberra-path2: "\e91b";
$i-icon-canberra-path3: "\e91c";
$i-icon-canberra-path4: "\e91d";
$i-icon-cross: "\e91e";
$i-icon-facebook-dark: "\e91f";
$i-icon-facebook: "\e920";
$i-icon-hilltops-white-path1: "\e921";
$i-icon-hilltops-white-path2: "\e922";
$i-icon-hilltops-white-path3: "\e923";
$i-icon-hilltops-white-path4: "\e924";
$i-icon-hilltops-path1: "\e925";
$i-icon-hilltops-path2: "\e926";
$i-icon-hilltops-path3: "\e927";
$i-icon-hilltops-path4: "\e928";
$i-icon-instagram-dark: "\e929";
$i-icon-instagram: "\e92a";
$i-icon-mail: "\e92b";
$i-icon-news-copy-path1: "\e92c";
$i-icon-news-copy-path2: "\e92d";
$i-icon-news-copy-path3: "\e92e";
$i-icon-news-copy-path4: "\e92f";
$i-icon-news-copy-path5: "\e930";
$i-icon-news-copy-path6: "\e931";
$i-icon-news-copy-path7: "\e932";
$i-icon-news-copy-path8: "\e933";
$i-icon-news-copy-path9: "\e934";
$i-icon-news-copy-path10: "\e935";
$i-icon-news-copy-path11: "\e936";
$i-icon-news-copy-path12: "\e937";
$i-icon-news: "\e938";
$i-icon-newswhite: "\e939";
$i-icon-orange-white-path1: "\e93a";
$i-icon-orange-white-path2: "\e93b";
$i-icon-orange-white-path3: "\e93c";
$i-icon-orange-white-path4: "\e93d";
$i-icon-orange-path1: "\e93e";
$i-icon-orange-path2: "\e93f";
$i-icon-orange-path3: "\e940";
$i-icon-orange-path4: "\e941";
$i-icon-pencil-dark: "\e942";
$i-icon-pencil-path1: "\e943";
$i-icon-pencil-path2: "\e944";
$i-icon-pencil-path3: "\e945";
$i-icon-pencil-path4: "\e946";
$i-icon-pencil-path5: "\e947";
$i-icon-pencil-path6: "\e948";
$i-icon-pencil-path7: "\e949";
$i-icon-pencil-path8: "\e94a";
$i-icon-pencil-path9: "\e94b";
$i-icon-pencil-path10: "\e94c";
$i-icon-pencilwhite: "\e94d";
$i-icon-riverina-white-path1: "\e94e";
$i-icon-riverina-white-path2: "\e94f";
$i-icon-riverina-white-path3: "\e950";
$i-icon-riverina-white-path4: "\e951";
$i-icon-riverina-white-path5: "\e952";
$i-icon-riverina-path1: "\e953";
$i-icon-riverina-path2: "\e954";
$i-icon-riverina-path3: "\e955";
$i-icon-riverina-path4: "\e956";
$i-icon-riverina-path5: "\e957";
$i-icon-search: "\e958";
$i-icon-tumbarumba-white-path1: "\e959";
$i-icon-tumbarumba-white-path2: "\e95a";
$i-icon-tumbarumba-white-path3: "\e95b";
$i-icon-tumbarumba-white-path4: "\e95c";
$i-icon-tumbarumba-path1: "\e95d";
$i-icon-tumbarumba-path2: "\e95e";
$i-icon-tumbarumba-path3: "\e95f";
$i-icon-tumbarumba-path4: "\e960";
$i-icon-twitter-dark: "\e961";
$i-icon-twitter: "\e962";
$i-icon-wine-copy: "\e963";
$i-icon-wine-path1: "\e964";
$i-icon-wine-path2: "\e965";
$i-icon-wine-path3: "\e966";
$i-icon-wine-path4: "\e967";
$i-icon-wine-path5: "\e968";
$i-icon-wine-path6: "\e969";
$i-icon-wine-path7: "\e96a";
$i-icon-winewhite: "\e96b";
$i-youtube-dark-path1: "\e96c";
$i-youtube-dark-path2: "\e96d";
$i-youtube-dark-path3: "\e96e";
$i-youtube-dark-path4: "\e96f";
$i-youtube-dark-path5: "\e970";
$i-youtube-dark-path6: "\e971";
$i-youtube-dark-path7: "\e972";
$i-youtube-dark-path8: "\e973";
$i-youtube: "\e974";

