.m-contact-us {

  &__heading {
    margin-bottom: .6rem;
  }

  &__contact {
    margin-bottom: 2.3rem;
    padding: 0 2.5rem;

    span {
      @extend p;
      display: block;
    }
  }

  &__hours {
    padding: 0 2.5rem;
  }

  &__hours-item {
    @extend p;
    margin-bottom: 2.3rem;

    span {
      display: block;
    }
  }

}