.m-product-img-slider {
  @include container();
  display: flex;
  margin-bottom: 2.3rem;

  &__thumbs-wrapper {
    @include span(4);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__thumbs {
    display: flex;
    flex-direction: column;
    max-height: 70rem;

    img {
      display: block;
      height: auto;
      margin: 0 auto;
      max-width: 100%;
      padding-bottom: 2rem;
    }
  }

  &__slider {
    @include span(8);
  }
}