.m-product-search {
  $module: &;

  align-items: center;
  background-color: $charcoal-grey;
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 10rem;
  position: relative;
  padding: 0 2.5rem;

  @include breakpoint(max-width $tablet) {
    padding: 0;
  }

  &__wrapper {
    @include container(127rem);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    @include breakpoint(max-width $tablet) {
      flex-wrap: wrap;
      order: 1;
    }
  }

  &__title {
    flex-basis: 15.5rem;

    @include breakpoint(max-width $tablet) {
      flex-basis: auto;
      margin-top: 2rem;
      padding-left: 3.5rem;
    }
  }

  &__list {
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;

    @include breakpoint(max-width $tablet) {
      order: 3;
      overflow: scroll;
      padding: 0;
    }

    a {
      color: $white;

      &:hover {
        color: $sandy-brown;
      }
    }
  }

  &__item {
    cursor: pointer;
    line-height: 10rem;

    @include breakpoint(max-width $tablet) {
      line-height: 1.33;
      padding: 2.5rem;
      text-align: center;
      width: 20%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      
      &:hover {
        background-color: rgba($silver, .6);

        a {
          color: $white;
        }
      }
    }

    &:hover {
      #{$module}__link {
        color: $sandy-brown;

        @include breakpoint(max-width $tablet) {
          color: $white;
        }

        &::after {
          opacity: 1;
        }

        &::before {
          opacity: 1;
        }
      }

      #{$module}__sub-search {
        opacity: 1;
        transition-delay: 0s, 0.03s, 0s;
        visibility: visible;
        z-index: 1;
      }

      #{$module}__decorator {
        border-bottom: 2px solid $sandy-brown;
      }
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    transition: opacity .3s ease;

    &::after {
      content: '';
      position: relative;
      right: calc(50% - 6.5px);
      top: 3.6rem;
      margin-left: -12px;
      border-style: solid;
      border-width: 0 .65rem .6rem .65rem;
      border-color: transparent transparent #667680 transparent;
      opacity: 0;
      transition: opacity .3s ease;
      width: 0;
      height: 0;

      @include breakpoint(max-width $tablet) {
        display: none;
      }
    }

    &::before {
      border-bottom: 2px solid $sandy-brown;
      content: '';
      left: 50%;
      opacity: 0;
      position: absolute;
      top: 6.4rem;
      transform: translate(-50%, -50%);
      transition: opacity .3s ease;
      width: 80%;

      @include breakpoint(max-width $tablet) {
        display: none;
      }
    }
  }

  &__sub-search {
    align-items: center;
    background-color: #667680;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    left: 0;
    margin: 0;
    min-height: 8rem;
    opacity: 0;
    position: absolute;
    top: 100%;
    right: 0;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0s, z-index 0s linear 0.5s;
    padding: 0 1.5rem;
    visibility: hidden;
    width: auto;
    z-index: -1;

    li {
      padding-left: 2.5rem;
      padding-right: 2.5rem;

      @include breakpoint(max-width $tablet) {
        padding: 2.5rem;
      }
    }
  }

  &__search {
    margin-left: 7.2rem;

    .m-input-group {
      width: 30rem;
    }

    @include breakpoint(max-width $tablet) {
      flex-grow: 1;
      margin-left: 0;
      margin-top: 2rem;
      order: 2;

      .m-input-group {
        padding: 0 3.5rem;
        width: 100%;
      }

    }

    input {
      font-size: 1.8rem;
      padding: 1rem 0 0.7rem 1.5rem;
    }
  }
}