$susy: (
  columns: 12,
  container: 1440px,
  global-box-sizing: border-box,
  gutters: 0,
  math: fluid,
  output: float,
  gutter-position: inside,
  //debug: (
  //  image: show-columns,
  //  color: rgba(#66f, .5),
  //  output: background,
  //  toggle: top rigth,
  //)
);

