include ../bemto/bemto
include ../blocks/index
include ../header/_header
include ../footer/_footer

+header("Australia’s First Families of Wine")

  main.l-wrapper
    +b.l-affw
      +e.SECTION.card
        +b-affw-card

      +e.SECTION.logos
        +b-affw-logos

  +footer()
