include ../bemto/bemto
include ../blocks/index
include ../header/_header
include ../footer/_footer

+header("Hanwood Estate Cellar Door")

  main.l-wrapper
    +b.l-cellar-door
      +e.SECTION.info
        +b-info-section('img/cellardoor.png', "HANWOOD ESTATE CELLAR DOOR")
          block descr
            p.lg Set in the midst of a stunning rural Australian landscape, the Hanwood Estate Cellar Door captures the rich history of McWilliam’s and the essence of the Riverina wine region.
            p.lg Established in 1917, the winery stands today as a pillar of excellence and an icon of the Australian wine industry. Nestled between vineyards among the oldest in New South Wales, the famous Hanwood Estate Cellar Door is an idyllic setting to taste the entire range of a winery that has helped shape the face of the Australian wine industry.

      +e.SECTION.contact
        +e.contact-info
          +b-contact-us

        +e.contact-descr
          p The Hanwood Cellar Door provides the perfect setting for a truly memorable wine tasting experience. At a location that embodies the beauty of the Riverina region and pays tribute to the proud history of the winery, the Hanwood team have the privilege of sharing a selection of the award winning wines that have helped make McWilliam’s one of Australia’s favourite wineries.
          p Designed by fourth generation family member Glen McWilliam and completed in 1973, the Hanwood Estate Cellar Door is an instantly recognisable symbol of the Riverina wine region and McWilliam’s Winery. Shaped like a wine barrel and built to exact scale, complete with staves and hoops, the Hanwood Cellar Door is a suitably unique home for a winery that is so rich in history and so significant in the scope of the local wine industry.
          p Over its 100 year history, the home of McWilliam’s has continued to develop and expand, while always retaining a proud acknowledgement of its past. Among the historical features is a breathtaking mural paying tribute to the winery’s founders, painted on glass and featured on one of the interior walls of the Cellar Door. A bronze statue of Hanwood founder JJ McWilliam can also be found perched among the stunning gardens of the Estate.
          p Awarded as the Best Tasting Experience by Gourmet Traveller Magazine Australia in the Riverina in 2014, Hanwood Estate is a  idyllic location to enjoy the best wines McWilliam’s have to offer. The Cellar Door is RV friendly and the sprawling lawns are the perfect place to set up a picnic blanket and soak up the best landscapes the Riverina has to offer, while sipping on some of Australia’s most popular and awarded wines.

      +e.cellar-door

        +b-horizontal-card("img/karin-cellardoor.png", "--bordered")
          +b-person-card-descr("KARIN PENNINGA", "Cellar Door Manager")
            p Karin Penninga is the Cellar Door Manager at McWilliam’s Hanwood Estate. Originally from the Netherlands, she studied Agricultural Economics-Marketing (BSc) and travelled whilst doing her traineeships in various countries in Europe and Africa. Having worked two years in the recruitment industry after her graduation it was time to travel again, emigrating to Australia in 2001.
            p Karin worked in the McWilliam’s Wines laboratory for two vintages and then returned to the recruitment industry. After some experience managing a labour hire company and a backpackers hostel, Karin returned to her roots as the Manager of the Cellar Door at Hanwood Estate. 
            p Karin is responsible for the running of the Cellar Door, site events and the member’s wine club. Karin enjoys the opportunity to share her passion for the McWilliam’s ranges.

        +b-horizontal-card("img/mel-cellardoor.png", "--bordered")
          +b-person-card-descr("MELINDA BONETTI", "Cellar Hand")
            p Melinda Bonetti has worked for McWilliam’s Wines for over 13 years. Starting off as a cellar hand at McWilliam’s Yenda winery during a University break, she managed all of McWilliam’s commercial wine stores maturing in barrel and learnt the basic principles of winemaking. After five years in this role she moved into the Yenda office, before shifting to the Cellar Door at Hanwood Estate when the two sites merged in 2007. 
            p As Assistant Cellar Door Manager at Hanwood Estate, Melinda’s role is to assist Karin Penninga (Cellar Door Manager) in the daily operations and management of the Hanwood Estate. She enjoys meeting new and returning travelers to the Riverina and watching customers delight in the diverse range of wines McWilliam’s has to offer.

  +footer()
