include ../bemto/bemto
include ../blocks/index
include ../header/_header
include ../footer/_footer

+header("Heritage")

  main.l-wrapper
    +b-info-section('img/history.png', "OUR HERITAGE ")
      block descr
        p.lg With six consecutive generations of winemakers and over 140 years of experience, the wines we make are more than just quality, award-winning wines. They are wines that tell the story of our family and a century long love affair with winemaking.

    +b-section-harritage-history



  +footer()
