include ../bemto/bemto
include ../blocks/index
include ../header/_header
include ../footer/_footer

+header("Our Winemakers")

  main.l-wrapper
    +b.l-our-winemakers

      +e.SECTION.info
        +b-info-section('img/Winemakers-newbanner.png', "OUR WINEMAKERS")
          block descr
            p.lg McWilliam’s Wines have always believed that quality wines are made by people, not companies. As well as a long list of family winemakers and employees, McWilliam’s are blessed by a team of staff that share the passion for the range of McWilliam’s wines.

      +e.winemakers
        +b-horizontal-card("img/JimChatto.png", "--bordered")
          +b-person-card-descr("JIM CHATTO", "McWilliam's Chief Winemaker")
            p It's no understatement to say that Jim Chatto knows his wines. Jim has delivered over 20 Hunter Valley vintages and has been a wine judge of note for the last 14 years. If that wasn’t enough, Jim has been at the helm of McWilliam’s winemaking since 2013, overseeing not only the entire winemaking process but also the stylistic approach of the McWilliam’s range.
            p Outside of his beloved region, the Hunter Valley, the passion which keeps Jim producing award winning wines is not the stunning countryside, or state of the art processes but rather its ‘people’. ‘The wine industry, ergo the Australian wine industry, is populated by so many interesting and inspiring people which makes working in it really rewarding’.

        +b-horizontal-card("img/HIGGINS.PNG", "--bordered")
          +b-person-card-descr("ANDREW HIGGINS", "Senior Premium Winemaker")
            p Andrew Higgins is a man devoted to the wine industry, why else would you complete not one but two industry relevant degrees? By attaining a detailed knowledge of not just wine science but also viticulture Andrew or Higgo as he is known, has been able to blend his practical knowledge with a creative flair. This balance in wine understanding has led to him now being responsible for overseeing the stylistic development and winemaking across the McWilliam's range.
            p Unlike many winemakers, Andrew is of the opinion that price is not a true reflection of quality. In fact his advice when choosing your wine from the shelf is refreshingly honest ‘don’t get too hung up on everything, it’s only a drink. Be adventurous’. This is supported by his own vision for McWilliam's which is to ‘deliver contemporary wines of a superb quality’. Indeed, Andrew sees the future of winemaking as ‘continuing to aim for more food friendly wines, but with greater concentration of fruit flavour’.

        +b-horizontal-card("img/cody.png", "--bordered")
          +b-person-card-descr("RUSSELL CODY", "Senior Commercial and Export Winemaker")
            p Ask Russell Cody, the straight talking senior member of the McWilliam’s winemaking team, what it takes to make a career in wine and you’ll get a blunt answer ‘be prepared for hard work as it is not all beer and skittles. Fine wine takes time and lots of hard yakka!’ Russell speaks with some authority. He started his winemaking career in 1989 and joined the celebrated McWilliam's team back in 1995. Twenty odd years on, Russell is a senior winemaker, wine judge and one of the most respected wine experts in the industry.
            p He is also a winemaker with a clear philosophy ‘great wines are made in the vineyard’ he states. Russell places strong emphasis on good vineyard management practices, and to sourcing the most appropriate, high-quality fruit available. This philosophy marries with Russell’s continuing passion for the Australian wine industry, as he says ‘we are still in an exciting early phase of making great table wine in Australia as we continue to pioneer the best varieties in each region that suits them’.

        +b-horizontal-card("img/kinsman.png", "--bordered")
          +b-person-card-descr("HARRY KINSMAN", "Winemaker")
            p Harry is newest member to join the McWilliam’s winemaking team, however Harry’s journey to becoming a winemaker was the not the usual direct route.
            p Harry originally undertook a degree in the Arts but soon realised that his options were few and opportunities uninspiring. Having discovered a passion for wine while working in restaurants in his native Brisbane, Harry returned to education and enrolled in a degree in winemaking at the University of Adelaide. He has followed this up with a Masters in Wine Business which is nearing completion.
            p Upon completion of his degree, Harry spread his wings, working on vintages as far afield as Otago, the Willamette valley and the great Rhone region of France. Nearer to home he experienced working in the Grampians, The Hunter, The Barossa and Coonawarra. Like all winemakers Harry is passionate about all things wine, but If Harry were to pick his favourite varietals, then Chardonnay and Shiraz would win out, as he states ‘I love the combination of complexity and purity that these varieties can show when at their best’.

        +b-horizontal-card("img/Wheeler.png", "--bordered")
          +b-person-card-descr("KYLIE WHEELER", "Winemaker")
            p At the ripe old age of 31, Kylie Wheeler finally knew what she wanted to do with her life – make wine. After completing a Bachelor of wine science she took her first steps into the industry with a boutique winery in Wagga Wagga. She has never looked back. Having recently joined the ranks of the winemaking team at McWilliam’s she is excited to be working towards her first vintages.
            p Kylie’s passion for the wine industry is clear. Besides the eclectic bunch who make up the Australian wine industry, for Kylie the thing which stands out the most is the fact that ‘Australia embraces old world methods as well as the new world. The industry here also is not afraid to try new methods and push boundaries. All of this combined is what makes me love the fact I am a winemaker and work in the industry in this country’. With passion and commitment like Kylie’s the industry here is in very safe hands for generations to come.

        +b-horizontal-card("img/lucas.png", "--bordered")
          +b-person-card-descr("STEPHANIE LUCAS", "Assistant Winemaker")
            p Since starting out as a cellar hand for Evans & Tate, Margaret River in 2008, it’s fair to say that Stephanie has packed in a lot. From Western Australia, to Ontario, Canada and then on to country NSW with McWilliam’s (via a stop at Charles Sturt University), Stephanie has used all these experiences and opportunities to increase her wine knowledge and to become an integral part of the McWilliam’s winemaking team. Her current role sees her managing a portfolio of McWilliam’s wines from vineyard to bottle, as Stephanie says ‘this is a wonderful opportunity to oversee the quality of fruit as I believe that great wine is made from great grapes’.
            p When it comes to choosing your wine, Stephanie encourages buyers to ‘try something different every now and then – wine styles are constantly changing – you will be surprised what you might like!’.

  +footer()
