include ../bemto/bemto
include ../blocks/index
include ../header/_header
include ../footer/_footer

+header("Product page")

  main.l-wrapper
    +b-section-product-page-product
    +b-section-product-page-location
    +b-section-product-page-review
    +b-section-product-page-posts
    +b-section-product-page-gallery

  +footer()
