include ../bemto/bemto
include ../blocks/index
include ../header/_header
include ../footer/_footer

+header("The Family")

  main.l-wrapper
    +b.l-the-family
      +e.SECTION.info
        +b-info-section('img/family.png', "McWILLIAM’S FAMILY")
          block descr
            p.lg The McWilliam family name stands for a long history of excellence in winemaking, a tradition which stretches back to the earliest days of the Australian wine industry. Since 1877, when founder Samuel McWilliam first planted vines on the banks of the Murray River in New South Wales, the McWilliam family have produced six consecutive generations of winemakers.
            p.lg The wines made by McWilliam’s are more than just benchmark expressions of Australian winemaking. They are wines that draw on more than 140 years of experience, wines that tell a story of a family’s passion for winemaking.

      +e.heading

        .m-heading.m-heading--linear
          h1 OUR FUTURE

        p.lg.text-center
          | Today, the family mantle is carried by sixth generation winemaker Scott McWilliam, <br />
          |company CEO Jeff McWilliam and Board Director David McWilliam.


      +e.future

        +b-horizontal-card("img/scott.png", "--bordered")
          +b-person-card-descr("SCOTT McWILLIAM", "Sixth Generation Winemaker")
            p It’s fair to say, that with five generations of family winemaking behind him, Scott was going to be at the forefront of the McWilliam's families sixth generation. This hereditary love for the Australian wine industry has led Scott from university, to bringing in vintages across the globe, judging at shows both nationally and internationally, being the family ambassador and of course, an accomplished winemaker in his own-right. So much so, that he was invited to the Future Leaders program by the Winemakers Federation of Australia.
            p Having travelled the world to many of the beautiful places that wine is produced, Scott has a clear vision for the future of the industry ‘With rapid globalization and fluidity of information, I believe the industry will cater more towards giving the consumers a tailored experience. Rather than just making a wine and selling it to the consumer, we will better anticipate what consumers want and provide them with an experience which hopefully remains with them or lasts longer than merely the time it takes to finish the bottle’.

        +b-horizontal-card("img/jeff.png", "--bordered")
          +b-person-card-descr("JEFF McWILLIAM", "Chief Executive Officer")
            p At the helm of this great family business, is Jeff McWilliam. Jeff, is a member of the fifth generation of this pioneering family and is just as passionate about the wines and the people who bring them to life as his inspiring forefathers.
            p Throughout Jeff’s adolescence, he worked in a variety of roles at assorted locations for McWilliam’s, however, post University, Jeff’s interests in finance and accounting led him to broaden his life experiences beyond the wonderful world of wine developing a career in Property corporations. Jeff never strayed too far from the family interests and in 2011 he was invited to join the board of directors. His experience and qualifications soon led to him being the Chairman and by 2016, the return was complete, when Jeff assumed the Chief Executive Role.

        +b-horizontal-card("img/David.png", "--bordered")
              +b-person-card-descr("DAVID McWILLIAM", "Special Projects and Director")
                p Like the rest of the McWilliam clan, David is a strong advocate for the iconic wine business his forefathers built. Raised in Sydney, David spent many school holidays assisting his father, Andrew, at the Chullora bottling plant, but it was ‘among the natural beauty and openness’ of Hanwood that he truly felt at home.
                p David’s career path initially took him away from the Wine industry, working in areas of operations, commercial and strategy. In 2015, David chose to return to the family business, joining the board and taking on the responsibilities of special projects, the first of which was overseeing the recent relocation of the distribution centre to Hanwood and the head office to Pyrmont.
                p David sums up what many in the family feel about the business - ‘I am passionate about McWilliam’s Wines; the iconic Australian business, with a rich pioneering history, made up of many legendary characters of the wine industry. I’m both humbled and proud to be part of this company that’s still standing strong after 140 years’.

      +e.group-photo
        img(src="img/team.png" alt="")
        p.lg.text-center L to R: Andrew McWilliam, Doug McWilliam, Jeff McWilliam, David McWilliam, Jim Brayne (Chairman) and Greg McWilliam.

      +e.heading
        .m-heading.m-heading--linear
          h1 OUR LEGACY

        p.lg.text-center
          | From humble beginnings, the family winery has continued to grow in size and stature. The knowledge, skill <br />
          | andpassion that results from such a long family involvement in the Australian wine industry is the reason <br />
          | behind the quality and distinction of each bottle of wine produced by McWilliam’s.


      +e.legacy
        +b-horizontal-card("img/samuel.png", "--bordered")
          +b-person-card-descr("SAMUEL McWILLIAM")
           p Samuel McWilliam was born on the 15th of April in 1830 at Raloo, in Northern Ireland. He arrived in Melbourne in 1857 aboard the ship “Morning Light”, along with thousands of other immigrants arriving in Victoria in search of riches during the gold rush. In 1863 he married Martha Steele and they moved to the Gippsland area, where he set up a pastoral venture.
           p In 1877, he purchased land at the northern edge of Corowa and planted his first vines on the property. By the time he retired in 1891, he had built the foundation of a winery that would span over 139 years, passing through generations of his family. When his wife passed away, he left the ‘Sunnyside Vineyard’ in the hands of his two sons, John James (J.J.) and Thomas, as well as his eldest daughter Eliza Jane.

        +b-horizontal-card("img/JJ.png", "--bordered")
          +b-person-card-descr("DAVID McWILLIAM")
            p Like the rest of the McWilliam clan, David is a strong advocate for the iconic wine business his forefathers built. Raised in Sydney, David spent many school holidays assisting his father, Andrew, at the Chullora bottling plant, but it was ‘among the natural beauty and openness’ of Hanwood that he truly felt at home.
            p David’s career path initially took him away from the Wine industry, working in areas of operations, commercial and strategy. In 2015, David chose to return to the family business, joining the board and taking on the responsibilities of special projects, the first of which was overseeing the recent relocation of the distribution centre to Hanwood and the head office to Pyrmont.
            p David sums up what many in the family feel about the business - ‘I am passionate about McWilliam’s Wines; the iconic Australian business, with a rich pioneering history, made up of many legendary characters of the wine industry. I’m both humbled and proud to be part of this company that’s still standing strong after 140 years’.




  +footer()
